.Home {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 51px;
}
figure{
    width: 45%;
}    
.greeting{
    text-align: center;
}
.greeting h1{
    color: #FD1936;
    font-size: 50px;
}
footer {
    background-color: black; 
    height: 100px;
    text-align: center;
    line-height: 50px; 
    position: fixed; 
    left: 0; 
    bottom: 0; 
    width: 100%;
    border-top: 56px solid #FD1936;
}
.circle1 {
    position: absolute;
    top: -4%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: white;
    border: 9px solid black;
}
.circle2 {
    position: absolute;
    top: -4%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #313131ef;
    border: 9px solid black;
}
